<table class='table'>
  <thead>
    <tr>
      <th>氏名</th>
      <th>フリガナ</th>
      <th>mail</th>
      <th>自己紹介文</th>
    </tr>
  </thead>

  <tbody>
    <% followers.each do |follower| %>
      <tr>
        <td><%= follower.full_name %></td>
        <td><%= follower.kana_full_name %></td>
        <td><%= follower.email %></td>
        <td><%= follower.introduction %></td>
      </tr>
    <% end %>
  </tbody>
</table>