<div class="row">
  <div class="col-md-3">
    <%= render 'admin/shared/search_article', search: @search %>
  </div>

  <% if @q_articles %>
    <div class="col-md-9">
      <h4>記事一覧</h4>
      <% if @q_articles.empty? %>
        <%# 検索該当なしの場合 %>
        <p class="top-empty-message">条件に合う記事が見つかりませんでした</p>
      <% else %>
        <%# 検索該当ありの場合 %>
        <p><%="全#{@q_articles.total_count}件中" + "(#{@q_articles.count}件表示)" %></p>
        <%= render 'article_list', articles: @q_articles %>
        <div class="row text-center">
          <%= paginate @q_articles, class: "paginate" %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>