<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'admin/shared/search_company', search: @search %>
    </div>

    <% if @q_companies %>
      <div class="col-md-9">
        <h4>企業一覧</h4>
        <% if @q_companies.empty? %>
          <%# 検索該当なしの場合 %>
          <p class="alert alert-info" role="alert">条件に合致する記事が見つかりませんでした</p>
        <% else %>
          <%# 検索該当ありの場合 %>
          <p><%="全#{@q_companies.total_count}件中" + "(#{@q_companies.count}件表示)" %></p>
          <%= render 'company_list', companies: @q_companies %>
          <div class="pagination-col offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-4 col-lg-4">
            <p class="text-center" >
              <%= paginate @q_companies %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
