<div class="col-xs-4">
  <h4><%=link_to "Hareyakaとは", about_vision_path %></h4>
  <h4><%=link_to "あなたの悩みを解決します", about_solution_path %></h4>
  <h4><%=link_to "踏み出そう", about_challenge_path %></h4>
</div>