<div class="row-xs-3">
  <div class="col-xs-12">
    <%=link_to "Hareyakaとは", about_vision_path %>
    <%=link_to "あなたの悩みを解決します", about_solution_path %>
    <%=link_to "踏み出そう", about_challenge_path %>
  </div>
</div>