<div class="container">
  <div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10">
      <div class="individual">
        <h5 class="text-center">はじめてのHareyakaガイド</h5>
        <hr class="titleHr">
      </div>
    </div>
  </div>
</div>