<div class="row thanks">
  <div class="offset-md-2 col-md-8 offset-md-2">
    <h2>アカウント登録ありがとうございます。</h2>
    <h2>法人会員専用ページは運営にてログイン承認がされた後に閲覧可能になります。</h2>
    <h2>承認済メールが届くまで今しばらくお待ちください。</h2>
  </div>  
</div>