<div class="row">
  <%= render 'about' %>
  <div class="col-xs-8">
    <h3>踏み出そう</h3>
    <p>カウンセリングに納得したら、その会社のサービスを体験してみましょう。</p>
    <p>きっとあなたの心はHareyakaに。</p>
    <%= image_tag 'Hareyaka.jpg', size: '600x360' %>
  </div>
</div>