<div class="row thanks">
  <div class="offset-md-2 col-md-8 offset-md-2">
    <h3 class="text-center">Hareyakaをご利用いただきありがとうございました。</h3>
    <p class="text-center">少しでもあなたの悩みの解消に繋げられていたら幸いです。</p>
  </div>  
</div>