<div class="thanks">
  <div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
    <h2 class="text-center">Hareyakaをご利用いただきありがとうございました。</h2>
  </div>
  <div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
    <p class="text-center">少しでもあなたの悩みの解消に繋げられていたら幸いです。</p>
  </div>
</div>