<% articles.each do |article| %>
  <div class="article-content shadow-sm col-md-6 col-lg-4">
    <div id="article_contents_<%= article.id %>">
      <%= render 'public/shared/detail', article: article %>
    </div>
    <div class="article-text">
      <%= strip_tags(article.body.to_s).truncate(70) %>
      <p class="text-right"><%= link_to "続きを読む", article_path(article.id) %></p>
    </div>
  </div>
<% end %>





