<% articles.each do |article| %>
  <div id="article_contents_<%= article.id %>">
    <%= render 'public/shared/detail', article: article %>
  </div>
  <div class="article-body">
    <%= strip_tags(article.body.to_s).truncate(150) %>
    <p class="text-right"><%= link_to "続きを読む", article_path(article.id) %></p>
  </div>
  <hr class="articleHr">
<% end %>