<% articles.each do |article| %>
  <div class="article-content col-md-6 col-lg-3">
    <%= render 'public/shared/detail', article: article %>
    <div class="article-body">
      <%= strip_tags(article.body.to_s).truncate(70) %><br>
      <span class="article-info"><%= article.company.company_name %></span>
      <p style="float: right;"><%= link_to "続きを読む", article_path(article.id) %></p>
    </div>
  </div>
<% end %>