<%= render 'public/shared/search_genre', genres: @genres %>

<div class="row">
  <div class="col-md-3">
    <%= render 'public/shared/sidebar' %>
  </div>

  <div class="col-md-9">
    <div class="title">
      <h5 class="text-center">専門家</h5>
    </div>
    <hr class="titleHr">

    <%= render 'company_list', companies: @companies %>

    <div class="row text-center">
      <%= paginate @companies %>
    </div>
  </div>
</div>