<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <%= render 'public/shared/search_genre', genres: @genres %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="offset-lg-1 col-lg-10">
      <div class="title">
        <h4 class="text-center title">専門家</h4>
      </div>
      <hr class="titleHr">

      <%= render 'company_list', companies: @companies %>

      <div class="pagination-col offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-4 col-lg-4">
        <p class="text-center">
          <%= paginate @companies %>
        </p>
      </div>
    </div>
  </div>
</div>