<div class="row">
  <div class="col-xs-4">
    <%= render 'public/shared/sidebar' %>
  </div>

  <div class="col-xs-8">
    <div class="title">
      <h4 class="text-center">専門家</h4>
    </div>
    <hr class="titleHr">

    <%= render 'company_list', companies: @companies %>

    <div class="row text-center">
      <%= paginate @companies %>
    </div>
  </div>
</div>