/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "summernote-bs4";

.header-nav{
  color:#128da0;
	background-color: #fefefe;
  padding-top: 5;
  border-top: 5px #128da0 solid;
	border-bottom: 1px #d9d9d9 solid;

	.nav-item{
		a{
			color: #128da0;
      text-decoration: none;
      margin: 0 10px 0 5px;
		}
	}
	.login-person{
		color: #787e81;
		text-decoration: none;
	}
}

.nav-tabs{
  margin-bottom: 35px;
}

.genre-list{
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px #e9eef1 solid;
}

.genre-item{
  margin: 10px;
}

.all-genre-item{
  margin-left: 50px;
}

.article-content{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  float: right; 
  font-size: small;
  margin-top: 20px;
}

a{
  color: #17a2b8;
}

.unsubscribe{
  padding-top: 150px;
}

.thanks{
  padding-top: 200px;
}

.my-image{
  width: 155px;
  height: 155px;
  border-radius: 50%;
}

.company-image{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

#user-badge{
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: #e82a2a;
  color: #fff;
  text-align: center;
  line-height: 18px;
  margin-bottom: 6px;
}

#company-badge{
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: #e82a2a;
  color: #fff;
  text-align: center;
  line-height: 18px;
  margin-bottom: 6px;
}

.self-hukidashi{
  float: right;
  margin-bottom: 20px;
  background-color: #eff8f7;
}

.self-face{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 10px;
  float: right;
}

.opponent-hukidashi{
  margin-bottom: 20px;
  background-color: #eef1f8fa;
}

.opponent-face{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}

.message{
  font-size: small;
}

.content{
  margin-top: 10px;
}

.show-message{
  float: right;
  margin-bottom: 10px;
}

.follower-face{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.notification-face{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}

body{
  margin-top: 80px;
  background-color: #fefefe;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

footer{
  width: 100%;
  background-image: linear-gradient(260deg, #00c4c4, #1275a0);
  // background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}

.top{
  background-image: image-url("Hareyaka.jpg");
  background-size: cover;
  background-position: 70px;
  width: 100%;
  height: 950px;
}

.titleHr{
  margin-top: 10px;
  border-top: 1px solid #e9eef1;

}

.companyHr{
  margin-top: 15px;
  border-top: 1px solid #e9eef1;
}

.articleHr{
  margin: 30px 0 30px 0;
  border-top: 1px solid #e9eef1;
}

.company-header{
  object-fit: cover;
  margin-bottom: 20px;
  width: 100%;
  height: 320px;
}

.hear-more{
  background-image: linear-gradient(260deg, #00c4c4, #0d93e0);
  border-radius: 50px;
  color: #fff;
}

.enter-dm{
  color: #fff;
  background-image: linear-gradient(260deg, #00c4c4, #0d93e0);
  border-radius: 50px;
  width: 240px;
}


.favorite-ranking{
  margin-bottom: 10px;
  font-size: small;
}

.admin-comment{
  color: #e67d0e;
}