<table class='table table-borderless'>
  <tbody>
    <% notifications.each do |notification| %>
      <tr>
        <td><%= attachment_image_tag notification.company, :profile_image, class: "img-fluid notification-face", fallback: "no_image.png" %></td>
        <td>
          <%= notification.sender_name %>からの<%= link_to 'メッセージ', room_path(notification.room_id) %>があります
          <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>