<div class="row">
  <div class="col-sm-4">
    <%= render 'public/shared/sidebar' %>
  </div>

  <div class="col-sm-8">
    <div class="title">
      <h4 class="text-center">フォロー企業(全 <%= current_user.followings.count %> 件)</h4>
    </div>
    <hr class="titleHr">

    <%= render 'public/companies/company_list', companies: @follows %>

    <div class="row text-center">
      <%= paginate @follows %>
    </div>
  </div>
</div>