<footer>
  <nav class="navbar">
    <%=link_to new_admin_session_path do %>
      <%= image_tag 'footer_logo.png', class: "footer-logo" %>
    <% end %>
    <div class="guide-link">
      <span class="text-right"><%=link_to "Hareyakaはじめてガイド", guide_path, style: "color: #e9eef1;" %></span>
    </div>
  </nav>
</footer>